
html, body
{
    font-family: 'Ubuntu' , sans-serif;
    font-size: 100%;
    background: #fff;
}
/*-- Header Part Starts Here --*/
.header
{
    background: rgba(255, 255, 255,1);
    padding: 0.5em 0;
}
.logo
{
    float: left;
    width: 20%;
    margin-top: 8px;
}

/* ------ Footer ------ */
footer
{
    padding-top: 0px;
    margin-top: 15px;
}
/*--copy-rights--*/
.copyrights
{
    background: #1BBC9B;
    padding: 1em 0;
    text-align: center;
    color: #fff;
}
.copyrights
{
    background: #000;
    padding: 1em 0;
    text-align: center;
    color: #fff;
}
.copyrights p
{
    margin: 0;
}
.copyrights p a
{
    color: #fff;
}
.feature p
{
    color: #93999E;
    font-size: 15px;
    font-weight: 200;
    margin-top: 3px;
    line-height: 28px;
}
.feature i
{
    font-size: 30px;
    color: #c65757;
    display: inline-block;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.feature:hover i
{
    color: #1a1a1a;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

#breadcrumb_wrapper
{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}
div#breadcrumb_wrapper h3
{
    text-transform: uppercase;
    font-size: 1.6em;
    margin-bottom: 5px;
}
div#breadcrumb_wrapper h6
{
    color: #fff;
    font-style: italic;
    font-size: 0.8em;
    font-weight: 400;
}
.inner-banner
{
    min-height: 200px;
    background: rgba(24, 24, 24, 0.51) url(../images/banner3.jpg) no-repeat 0px 0px;
}
/*--login--*/
.login-left
{
    padding: 0; /*background: #eee;*/
    min-height: 440px;
}
.login-left h3, .login-right h3
{
    color: #000;
    font-size: 1.3em;
    padding-bottom: 0.5em;
    font-weight: 500;
}
.login-left h3
{
    margin-left: 20px;
    color: #fff;
    margin-top: 5px;
}
.login-left p, .login-right p
{
    color: #555;
    display: block;
    font-size: 0.95em;
    margin: 0 0 2.5em 0;
    line-height: 1.8em;
}
.login-left ul li
{
    margin-bottom: 5px;
}
.slider-content-container
{
    height: 325px;
    background: #263238;
    color: #fff;
}

.login-page
{
    padding: 1em 0;
}
.input-group
{
    width: 96%;
}
.login-bg
{
    background-color: #fbfbfb;
}
.top-header-right
{
    margin: 25px 0 0 0;
    padding: 0;
}
.top-header-right li
{
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
}
.top-header-right li a
{
    color: #333;
}
.top-header-right li i
{
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 7px;
    color: #ec6c05;
}
.item
{
    height: 325px;
}
.card-carousel
{
    margin-top: 60px;
}
.carousel .carousel-indicators
{
    bottom: -20px;
}

.footer
{
    background: #272727;
    color: #fff;
    padding: 50px 0;
    display: inline-block;
    width: 100%;
    font-weight: 300;
}
.footer h1
{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 30px;
}
.footer a
{
    color: #fff;
}
address
{
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.428571429;
}
.address p
{
    text-align: left;
    margin-bottom: 10px;
}
.address p i
{
    font-size: 16px;
    margin-right: 5px;
    width: 25px;
}
.tweet-box
{
    background: #505b71;
    padding: 8px 15px;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-bottom: 1px solid #757575;
    font-size: 14px;
}
.tweet-box i
{
    font-size: 40px;
    float: left;
    margin-right: 15px;
}
ul.page-footer-list
{
    list-style: none;
    padding: 0px 10px;
}
ul.page-footer-list li
{
    display: list-item;
    line-height: 35px;
    border-bottom: 1px dashed #757575;
}
ul.page-footer-list a
{
    padding: 3px;
    color: #fff;
    display: inline-block;
}
.footer-small
{
    background-color: #171717;
    margin-top: -6px;
    padding-top: 5px;
    padding-bottom: 0px;
}
.social-link-footer li
{
    float: right;
    float: right;
    margin: 5px 10px 5px 0px;
    padding-bottom: 5px;
}
.social-link-footer li a
{
    background: #505050;
    border-radius: 40px;
    color: #fff;
    float: left;
    font-size: 20px;
    height: 40px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 40px;
}
.social-link-footer li a:hover
{
    background: #ec6c05;
    transition: all 0.3s ease 0s;
}

footer .copyright
{
    padding: 14px 0 0 0;
    color: #929292;
}
